@media (max-width: 1100px) {
    html {
        font-size: 50%;
    }
    .navigation,
    .hero-section,
    .form-section,
    .footer-section {
        padding-right: 7.5rem;
        padding-left: 7.5rem;
    }
}

@media (max-width: 1000px) {
    .hero-section,
    .form-section,
    .footer-section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}

@media (max-width: 900px) {
    .navigation,
    .hero-section,
    .form-section,
    .footer-section {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .navigation-actions {
        display: none;
    }

    .footer__brand {
        display: block;
        width: 100%;
        margin: 0;
    }
    .footer__homes,
    .footer__pages,
    .footer__blog,
    .footer__portfolio {
        width: calc((100% - 27rem) / 4);
    }
}

@media (max-width: 800px) {
    .text-md {
        width: 80%;
    }

    .hero-left,
    .hero-middle,
    .hero-right {
        width: calc((100% - 3.2rem) / 2);
    }
    /* .hero-left, */
    .hero-middle {
        margin-right: 0;
    }
    .hero-left {
        margin-bottom: 3.2rem;
    }

    .hero-right {
        display: block;
        margin: 0 auto;
    }
    .form-box {
        width: 80%;
    }
}

/*  600 */

@media (max-width: 600px) {
    #header {
        padding: 4.6rem 1.8rem 4.6rem 2rem;
    }
    .navigation,
    .hero-section,
    .form-section,
    .footer-section {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .logo {
        width: 13rem;
    }
    .hero-section__text h2 {
        font-size: 4rem;
    }
    .form-section {
        border-bottom: 0.1rem solid hsl(219, 14%, 88%);
    }
    .hero-left,
    .hero-middle,
    .hero-right {
        width: 100%;
        display: block;
        margin-right: 0;
    }
    .hero-middle {
        margin-bottom: 2.8rem;
    }
    .form-box {
        width: 100%;
    }
    .submit {
        display: block;
    }
    #textAggree {
        width: 100%;

        margin-bottom: 2.5rem;
    }

    .name,
    .email,
    .company,
    .contact {
        margin-bottom: 2.5rem;
        display: block;
        width: 100%;
    }

    .footer__homes,
    .footer__pages,
    .footer__blog,
    .footer__portfolio {
        width: calc((100% - 8rem) / 2);
        margin-bottom: 3.2rem;
    }
    .footer__pages {
        margin-right: 0;
    }
    /* .footer__homes,
    .footer__pages,
    .footer__blog,
    .footer__portfolio,
    .footer__text {
        font-size: 1.6rem;
        margin-bottom: 0;
    } */
    .footer__heading {
        font-size: 2rem;
    }
}
