@media (max-width: 1100px) {
    .navigation,
    .hero-section,
    .form-section,
    .footer-section {
        padding-right: 75px;
        padding-left: 75px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 50%;
    }
    .navigation,
    .hero-section,
    .form-section,
    .footer-section {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

@media (max-width: 900px) {
    .navigation,
    .hero-section,
    .form-section,
    .footer-section {
        padding-right: 50px;
        padding-left: 50px;
    }
    .navigation-actions {
        display: none;
    }

    .footer__brand {
        display: block;
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .text-md {
        width: 80%;
    }

    .hero-left,
    .hero-middle,
    .hero-right {
        width: calc((100% - 2.4rem) / 2);
    }
    .hero-left,
    .hero-middle {
        margin-right: 0;
    }
    .hero-left {
        margin-bottom: 3.2rem;
    }

    .hero-right {
        display: block;
        margin: 0 auto;
    }
    .form-box {
        width: 80%;
    }
}
